Importing & Preprocessing

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('water_survive.csv')

In [3]:
df

,Origin,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Hardness,ph,Survivability
0,river,20791.31898,7.300212,368.516441,564.308654,10.379783,8.954468,2.963135,204.890456,NaN,0
1,river,18630.05786,6.635246,NaN,592.885359,15.180013,4.048808,4.500656,129.422921,3.716080,0
2,lake,19909.54173,9.275884,NaN,418.606213,16.868637,4.210943,3.055934,224.236259,8.099124,0
3,NaN,22018.41744,8.059332,356.886136,363.266516,18.436525,9.236995,4.628771,214.373394,8.316766,0
4,lake,17978.98634,6.546600,310.135738,398.410813,11.558279,3.496447,4.075075,181.101509,9.092223,0
...,...,...,...,...,...,...,...,...,...,...,...
3271,NaN,47580.99160,7.166639,359.948574,526.424171,13.894419,4.214904,4.435821,193.681736,4.668102,1
3272,river,17329.80216,8.061362,NaN,392.449580,19.903225,NaN,2.798243,193.553212,7.808856,1
3273,lake,33155.57822,7.350233,NaN,432.044783,11.039070,4.260500,3.298875,175.762646,9.419510,1
3274,lake,11983.86938,6.303357,NaN,402.883113,11.168946,4.362948,4.708658,230.603758,5.126763,1
3275,lake,17404.17706,7.509306,NaN,327.459761,16.140368,4.378250,2.309149,195.102299,7.874671,1

In [4]:
#결측치는 주변에서 카테고리가 같은(Ph가 비슷한(int 범위에서 동일한 pH로 가정)이 같은) 세 값의 평균을 구한다. 
""" WHO Drinking Water Guidelines: 세계보건기구(WHO)의 음용수 가이드라인은 pH가 인간의 건강과 물 생태계에 미치는 영향을 다룹니다. 이 자료는 pH 범위가 생명체의 생존에 미치는 영향에 대한 과학적 근거를 제공합니다.
출처: World Health Organization (WHO) Guidelines for Drinking-water Quality. """

' WHO Drinking Water Guidelines: 세계보건기구(WHO)의 음용수 가이드라인은 pH가 인간의 건강과 물 생태계에 미치는 영향을 다룹니다. 이 자료는 pH 범위가 생명체의 생존에 미치는 영향에 대한 과학적 근거를 제공합니다.\n출처: World Health Organization (WHO) Guidelines for Drinking-water Quality. '

In [5]:
dropped=df.dropna()
dropped.to_csv("fixed_dropna.csv")

Fill With Average Value

In [6]:
#Origin	Solids	Chloramines	Sulfate	Conductivity	Organic_carbon	Trihalomethanes	Turbidity	Hardness	ph	Survivability
from decimal import Decimal, getcontext
import pandas as pd
getcontext().prec = 10000
df=pd.read_csv("water_survive.csv")
valid_ph = df['ph'].dropna()
print(Decimal(pow(10,-valid_ph).sum()))
avg_ph = -np.log(pow(10,-valid_ph).sum() / (len(valid_ph)))
for i in df.Origin:
    if i=='river':
        df.replace(i,int(0),inplace=True)
    elif i=='lake':
        df.replace(i,int(1),inplace=True)
    elif i=='ocean':
        df.replace(i,int(1),inplace=True)
print(avg_ph)
# 첫 번째 루프: 'Origin' 컬럼 값 변경
df['ph'].fillna(avg_ph,inplace=True)
for col in df.columns:
    valid=df[col].dropna()
    if col !='ph':
        df[col].fillna(valid.mean(),inplace=True)
    if col=='Origin':
        df[col].fillna(int(valid.mean()),inplace=True)
#Origin	Solids	Chloramines	Sulfate	Conductivity	Organic_carbon	Trihalomethanes	Turbidity	Hardness	ph	Survivability
df.to_csv("avg.csv", index=False)

1.932046621327509594578941687359474599361419677734375
7.27342328574031

C:\Users\gajog\AppData\Local\Temp\ipykernel_20252\583403406.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(i,int(1),inplace=True)
C:\Users\gajog\AppData\Local\Temp\ipykernel_20252\583403406.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ph'].fillna(avg_ph,inplace=True)
C:\Users\gajog\AppData\Local\Temp\ipykernel_20252\583403406.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(valid.mean(),inplace=True)
C:\Users\gajog\AppData\Local\Temp\ipykernel_20252\583403406.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(int(valid.mean()),inplace=True)

Filled According to ph

In [28]:
from decimal import Decimal, getcontext
import pandas as pd
import numpy as np
getcontext().prec=10000
df=pd.read_csv("fixed.csv")
df=df.drop('Unnamed: 0',axis=1)
df.replace(['', ' '], np.nan, inplace=True)
df

,Origin,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Hardness,ph,Survivability
0,0.0,20791.31898,7.300212,368.516441,564.308654,10.379783,8.954468,2.963135,204.890456,NaN,0
1,0.0,18630.05786,6.635246,NaN,592.885359,15.180013,4.048808,4.500656,129.422921,3.716080,0
2,1.0,19909.54173,9.275884,NaN,418.606213,16.868637,4.210943,3.055934,224.236259,8.099124,0
3,NaN,22018.41744,8.059332,356.886136,363.266516,18.436525,9.236995,4.628771,214.373394,8.316766,0
4,1.0,17978.98634,6.546600,310.135738,398.410813,11.558279,3.496447,4.075075,181.101509,9.092223,0
...,...,...,...,...,...,...,...,...,...,...,...
3271,NaN,47580.99160,7.166639,359.948574,526.424171,13.894419,4.214904,4.435821,193.681736,4.668102,1
3272,0.0,17329.80216,8.061362,NaN,392.449580,19.903225,NaN,2.798243,193.553212,7.808856,1
3273,1.0,33155.57822,7.350233,NaN,432.044783,11.039070,4.260500,3.298875,175.762646,9.419510,1
3274,1.0,11983.86938,6.303357,NaN,402.883113,11.168946,4.362948,4.708658,230.603758,5.126763,1
3275,1.0,17404.17706,7.509306,NaN,327.459761,16.140368,4.378250,2.309149,195.102299,7.874671,1

In [29]:
df['ph'] = df['ph'].round(1)
df

,Origin,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Hardness,ph,Survivability
0,0.0,20791.31898,7.300212,368.516441,564.308654,10.379783,8.954468,2.963135,204.890456,NaN,0
1,0.0,18630.05786,6.635246,NaN,592.885359,15.180013,4.048808,4.500656,129.422921,3.7,0
2,1.0,19909.54173,9.275884,NaN,418.606213,16.868637,4.210943,3.055934,224.236259,8.1,0
3,NaN,22018.41744,8.059332,356.886136,363.266516,18.436525,9.236995,4.628771,214.373394,8.3,0
4,1.0,17978.98634,6.546600,310.135738,398.410813,11.558279,3.496447,4.075075,181.101509,9.1,0
...,...,...,...,...,...,...,...,...,...,...,...
3271,NaN,47580.99160,7.166639,359.948574,526.424171,13.894419,4.214904,4.435821,193.681736,4.7,1
3272,0.0,17329.80216,8.061362,NaN,392.449580,19.903225,NaN,2.798243,193.553212,7.8,1
3273,1.0,33155.57822,7.350233,NaN,432.044783,11.039070,4.260500,3.298875,175.762646,9.4,1
3274,1.0,11983.86938,6.303357,NaN,402.883113,11.168946,4.362948,4.708658,230.603758,5.1,1
3275,1.0,17404.17706,7.509306,NaN,327.459761,16.140368,4.378250,2.309149,195.102299,7.9,1

In [30]:
idx=df.columns
aciditygroup=df.dropna(subset='ph')
aciditygroup=df.groupby('ph').mean()
aciditygroup.Origin=np.int64(round(aciditygroup.Origin,0))
aciditygroup.rename_axis(None,inplace=True)
aciditygroup.fillna(method='ffill',inplace=True)

C:\Users\gajog\AppData\Local\Temp\ipykernel_8840\3648285166.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  aciditygroup.fillna(method='ffill',inplace=True)

In [31]:
cols = list(df.columns)
df = df.dropna(subset=['ph'])
df= df.loc[~df.index.duplicated()]
cols.remove('ph')
for idx, row in df.iterrows():
    ph_value = row['ph']
    for col in cols:
        if pd.isna(row[col]):
            # Fill missing value with corresponding value from aciditygroup
            df.at[idx, col] = aciditygroup.loc[ph_value, col]
df.isnull().sum()
df.to_csv("ph_group_improved.csv")

Using Hardnes

In [ ]:
from decimal import Decimal, getcontext
import pandas as pd
import numpy as np
getcontext().prec=10000
df=pd.read_csv("fixed.csv")
df=df.drop('Unnamed: 0',axis=1)
df.replace(['', ' '], np.nan, inplace=True)
df
df['Hardness'] = df['Hardness'].round(1)
df
idx=df.columns
aciditygroup=df.dropna(subset='Hardness')
aciditygroup=df.groupby('Hardness').mean()
aciditygroup.Origin=np.int64(round(aciditygroup.Origin,0))
aciditygroup.rename_axis(None,inplace=True)
aciditygroup.fillna(method='ffill',inplace=True)
cols = list(df.columns)
df = df.dropna(subset=['Hardness'])
df= df.loc[~df.index.duplicated()]
cols.remove('Hardness')
for idx, row in df.iterrows():
    ph_value = row['Hardness']
    for col in cols:
        if pd.isna(row[col]):
            # Fill missing value with corresponding value from aciditygroup
            df.at[idx, col] = aciditygroup.loc[ph_value, col]
df.isnull().sum()
df.to_csv("Hardness_group_improved.csv")

c:\Users\gajog\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\series.py:1031: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)
C:\Users\gajog\AppData\Local\Temp\ipykernel_8840\2944867937.py:16: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  aciditygroup.fillna(method='ffill',inplace=True)

Using Solids

In [8]:
from decimal import Decimal, getcontext
import pandas as pd
import numpy as np
getcontext().prec=10000
df=pd.read_csv("fixed.csv")
df=df.drop('Unnamed: 0',axis=1)
df.replace(['', ' '], np.nan, inplace=True)
df
df['Solids'] = df['Solids'].round(1)
df
min_val, max_val = 0,2
idx=df.columns
aciditygroup=df.dropna(subset='Solids')
aciditygroup=df.groupby('Solids').mean()
aciditygroup.Origin=np.int64(round(aciditygroup.Origin,0))
aciditygroup.rename_axis(None,inplace=True)
aciditygroup.fillna(method='ffill',inplace=True)
cols = list(df.columns)
df = df.dropna(subset=['Solids'])
df= df.loc[~df.index.duplicated()]
cols.remove('Solids')
aciditygroup['Origin'] = aciditygroup['Origin'].clip(min_val, max_val)
for idx, row in df.iterrows():
    ph_value = row['Solids']
    for col in cols:
        if pd.isna(row[col]):
            # Fill missing value with corresponding value from aciditygroup
            df.at[idx, col] = aciditygroup.loc[ph_value, col]
df.isnull().sum()
df.to_csv("solids_group_improved.csv")

c:\Users\gajog\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\series.py:1031: RuntimeWarning: invalid value encountered in cast
  arr = np.asarray(values, dtype=dtype)
C:\Users\gajog\AppData\Local\Temp\ipykernel_20316\4285414574.py:17: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  aciditygroup.fillna(method='ffill',inplace=True)